<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="d-inline">Change Password</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control form-control-lg" placeholder="Enter Current Password" formControlName="currentPassword" [ngClass]="{'is-invalid': currentPassword.touched && currentPassword.invalid}">
                        <div *ngIf="currentPassword.touched && currentPassword.invalid" class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control form-control-lg" placeholder="Enter New Password" formControlName="newPassword" [ngClass]="{'is-invalid': newPassword.touched && newPassword.invalid}">
                        <div *ngIf="newPassword.touched && newPassword.invalid" class="invalid-feedback">
                            <div *ngIf="newPassword.errors.required">This field is required</div>
                            <div *ngIf="newPassword.errors.minlength">Password must have at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordRepeat">Repeat New Password</label>
                        <input type="password" class="form-control form-control-lg" placeholder="Enter New Password Again" formControlName="repeatPassword" [ngClass]="{'is-invalid': repeatPassword.touched && repeatPassword.invalid}">
                        <div *ngIf="repeatPassword.touched && repeatPassword.invalid" class="invalid-feedback">
                            This field is required
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" [disabled]="passwordChangeForm.invalid" class="btn btn-primary text-center">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
