<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-4">
          <div class="text-value">{{ totalOrders }}</div>
          <div>Orders Received</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-4">
          <div class="text-value">{{ deliveredOrders }}</div>
          <div>Orders Delivered</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-4">
          <div class="text-value">{{ returnedOrders }}</div>
          <div>Orders Returned</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-4">
          <div class="text-value">{{ cancelledOrders }}</div>
          <div>Orders Cancelled</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
